beautifulsoup4
boto3
cachetools>=2.0.0
certifi
coverage
cryptography
flexmock
future
jsondiff
jsonpickle
jsonschema
ldap3
MarkupSafe
mock
motor
psutil>=5.6
pyaml
pyasn1
pymongo>=3.11
PyMySQL
pyOpenSSL>=19.0.0
python-dateutil
pytz
PyYAML
requests
requests-futures
requests-mock
requests-toolbelt
responses
git+https://github.com/WIPACrepo/rest-tools@v1.1.6#egg=rest_tools
s3transfer
selenium
setproctitle
Sphinx
statsd
tornado
flake8
pytest
