{% extends "base.html" %}

{% block title %}Jobs - IceProd{% end %}

{% block page_title %}Jobs{% end %}

{% block body %}

<table class='task_table'>
    <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Job Index</th>
        <th>Status Changed</th>
        {% if (current_user) %}
        <th><a href="javascript:call('reset_jobs');">Reset All</a></th>
        <th><a href="javascript:call('hard_reset_jobs');">Hard Reset All</a></th>
        <th><a href="javascript:call('suspend_jobs');">Suspend All</a></th>
        {% end %}
    </tr>
    {% for j in jobs %}
    <tr>
        <td><a href="/job/{{ url_escape(j['job_id']) }}">{{ escape(j['job_id']) }}</a></td>
        <td>{{ j['status'] }}</td>
        <td>{{ j['job_index'] }}</td>
        <td>{{ j['status_changed'] }}</td>
        {% if (current_user) %}
        <td><a href="javascript:call('reset_jobs', '{{ j['job_id'] }}');">Reset</a></td>
        <td><a href="javascript:call('hard_reset_jobs', '{{ j['job_id'] }}');">Hard Reset</a></td>
        <td><a href="javascript:call('suspend_jobs', '{{ j['job_id'] }}');">Suspend</a></td>
        {% end %}
    </tr>
    {% end %}
</table>


{% end %}

{% block body_scripts %}

{% if (current_user) %}
<script type="text/javascript" src="/static/json-rpc.js"></script>
<script type="text/javascript">
 var all_job_ids = [
    {% for j in jobs %}
        "{{ j['job_id'] }}", 
    {% end %}
    ];
function call(func_name, job_ids){
    job_ids = (typeof job_ids === 'undefined') ? all_job_ids: job_ids;
    RPCclient(func_name, {passkey: "{{ passkey }}", job_ids:job_ids }, callback=function(return_data){

    });
};
{% end %}
</script>
{% end %}
