{% extends "base.html" %}

{% autoescape None %}

{% block title %}IceProd{% end %}

{% block head_scripts %}
<link rel="stylesheet" href="/static/submit.css" media="all" type="text/css" />
{% end %}

{% block page_title %}Submit{% end %}

{% block body %}
<div id="submit_area">Enable javsascript to submit datasets.</div>

<div id="error"></div>

{% end %}

{% block body_scripts %}
<script id="LoopTmpl" type="text/x-jsrender">
<div class="indent {{!:~key}}">
    <span class="path">{{!:~concat(~path,#index,~key)}}</span>
    <span class="delete" title="Delete {{!singular:~key}}">x</span>
    {^{props ~path=~concat(~path,#index,~key) tmpl="#EditTmpl" /}}
</div>
</script>
<script id="LoopTmplBasic" type="text/x-jsrender">
<div class="indent {{!:~key}}">
    <span class="path">{{!:~concat(~path,#index,~key)}}</span><span class="delete">x</span>
    <div>
    {^{if ~editable(~concat(~path,#index,~key))}}
        <span class="editing"><span class="key hide"></span><input type="text" data-link="{intToStr:#data:strToInt}" /></span>
    {{!else}}
        <span class="editable"><span class="key hide"></span><span class="val">{{!:#data}}</span></span>
    {{!/if}}
    <span class="delete">x</span></div>
</div>
</script>
<script id="EditTmpl" type="text/x-jsrender">
{{!if ~isNull(prop,~path,key)}}
    <div class="key">{{!keyToHtml:key}}: 
        <span class="add null"><span class="key hide">{{!:key}}</span>Add {{!singular:~get_class(~path,key)}}</span>
    </div>
{{!else ~isArray(prop)}}
    <div class="header key">{{!keyToHtml:key}}</div>
    {{!if ~isBasicArray(prop)}}
        {^{for prop ~key=key tmpl="#LoopTmplBasic" /}}
    {{!else}}
        {^{for prop ~key=key tmpl="#LoopTmpl" /}}
    {{!/if}}
    <div class="indent"><span class="add array"><span class="key hide">{{!:key}}</span>Add {{!singular:~get_class(~path,key)}}</span></div>
{{!else ~isObject(prop)}}
    {{!if ~canEditObjectName(~path,key) }}
        {{!if ~editable(key+'_key',~path) }}
            <div><span class="editing"><span class="key hide">{{!:key}}</span><input type="text" data-link="{intToStr:key:strToInt}" /></span><span class="delete">x</span></div>
        {{!else}}
            <div class="header"><span class="editable key_editable"><span class="key">{{!keyToHtml:key}}</span></span><span class="delete">x</span></div>
        {{!/if}}
    {{!else}}
        <div class="header key">{{!keyToHtml:key}}</div>
    {{!/if}}
    <div class="indent">
        <span class="path">{{!:~concat(~path,key)}}</span>
        {^{props prop ~path=~concat(~path,key) ~keyeditable=true tmpl="#EditTmpl" }}
        {{!else}}
          <div class="empty"></div>
        {{!/props}}
    </div>
    {{!if ~canAddToObject(~path,key)}}
    <div class="indent"><span class="add object"><span class="key hide">{{!:key}}</span>Add {{!singular:~get_class(~path,key)}}</span></div>
    {{!/if}}
{{!else ~isNotPrivate(key) }}
    <div>
    {{!if (~keyeditable && ~editable(key+"_key",~path)) }}
        <span class="editing"><span class="key hide">{{!:key}}</span><input class="key" type="text" data-link="key" />: {{!:prop}}</span>
    {^{else ~editable(key,~path)}}
        <span class="editing"><span class="key">{{!keyToHtml:key}}</span>: 
        {{!if ~isEnum(~path,key)}}
            <select required="true">
            {{!for ~getEnums(~path,key) ~enumVal=prop}}
                {{!if ~equal(~enumVal,#data)}}
                <option selected>{{!:#data}}</option>
                {{!else}}
                <option>{{!:#data}}</option>
                {{!/if}}
            {{!/for}}
            </select>
        {{!else}}
            <input type="text" data-link="{intToStr:prop:strToInt}" />
        {{!/if}}
        </span>
    {{!else}}
        {{!if ~keyeditable}}
        <span class="editable key_editable">
        {{!else}}
        <span class="editable">
        {{!/if}}
        <span class="key">{{!keyToHtml:key}}</span>: <span class="val">{{!:prop}}</span></span>
    {{!/if}}
    <span class="delete">x</span></div>
{{!/if}}
</script>
<script id="AdvTmpl" type="text/x-jsrender">
<div class="header key">Job</div>
<div class="indent">
    {^{props ~path="" tmpl="#EditTmpl" }}
    {{!else}}
      <div class="empty"></div>
    {{!/props}}
</div>
</script>
<script type="text/javascript" src="/static/json-rpc.js"></script>
<script type="text/javascript" src="/static/dataclasses.js"></script>
<script type="text/javascript" src="/static/jsviews.min.js"></script>
<script type="text/javascript" src="/static/submit.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    // initalize the submission form
    Submission("init",{
                     edit:{% if edit %} true {% else %} false {% end %},
    {% if passkey %} passkey:"{{ passkey }}", {% end %}
    {% if grids %} grids:{{ json_encode(grids) }}, {% end %}
    {% if dataset %} dataset:{{ json_encode(dataset) }}, {% end %}
    {% if config %} config:{{ config }}, {% end %}
                       element:"#submit_area"
                      });
});
</script>
{% end %}