{% extends "base.html" %}

{% autoescape None %}

{% block title %}Task {{ task['task_index'] }}, Dataset {{ dataset['dataset'] }} - IceProd{% end %}

{% block page_title %}Task Details{% end %}

{% block body %}

<div class="task_details">
{% for k in task %}
<div class="key_value">
  <div>{{ escape(k) }}</div>
  <div>
  {% if k == 'dataset_id' %}
    <a href="/dataset/{{ url_escape(task[k]) }}">{{ escape(task[k]) }}</a>
  {% elif k == 'job_id' %}
    <a href="/dataset/{{ url_escape(task['dataset_id']) }}/job/{{ url_escape(task[k]) }}">{{ escape(task[k]) }}</a>
  {% elif k == 'depends' %}
    {% for t in task[k] %}
        <a href="/dataset/{{ url_escape(task['dataset_id']) }}/task/{{ t }}">{{ escape(t) }}</a>&nbsp;&nbsp;
    {% end %}
  {% else %}
    {{ task[k] }}
  {% end %}
  </div>
</div>
{% end %}

{% if (current_user) %}
<div class="action">
    <button onclick='set_tasks_and_jobs_status(dataset_id, ["{{ task['task_id'] }}"], "reset", "{{ passkey }}");'>Reset</button></td>
    <button onclick='set_tasks_status(dataset_id, ["{{ task['task_id'] }}"], "suspended", "{{ passkey }}");'>Suspend</button></td>
</div>
{% end %}

</div>

<div class="task_stats">
  <p class="stat_name">task stats</p>
  <div class="stat_body">{{ '<br />'.join(encode(json_encode(task_stats, indent=2).replace('\r','')).replace(' ','&nbsp;').split('\n')) }}</div>
</div>

{% for log in logs %}
    {% if 'data' in log and log['data'] %}
<div class="logs">
  <p class="log_name"><a href='/dataset/{{ url_escape(task['dataset_id']) }}/log/{{ url_escape(log['log_id']) }}'>{{ escape(log['name']) }}</a></p>
  <div class="log_body">{{ '<br />'.join(map(escape,log['data'].replace('\r','').split('\n')[-40:])) }}</div>
</div>
    {% end %}
{% end %}

{% end %}

{% block body_scripts %}

{% if (current_user) %}
<script type="text/javascript" src="/static/fetch.js"></script>
<script type="text/javascript" src="/static/rest.js"></script>
<script>
var dataset_id = "{{ task['dataset_id'] if task else '' }}";
</script>
{% end %}

{% end %}
