{% extends "base.html" %}

{% block title %}IceProd{% end %}

{% block page_title %}Tasks by Status{% end %}

{% block body %}

<table class='task_table'>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Failures</th>
        <th>Job Index</th>
        {% if (current_user) %}
        <th><a href='javascript:call("reset_task");'>Reset All</a></th>
        <th><a href='javascript:call("resume_task");'>Resume All</a></th>
        <th><a href='javascript:call("suspend_task");'>Suspend All</a></th>
        {% end %}
    </tr>
    {% for t in tasks %}
    <tr>
        <td><a href="/task/{{ t }}">{{ tasks[t]['task_id'] }}</a></td>
        <td>{{ tasks[t]['name'] }}</td>
        <td>{{ tasks[t]['failures'] }}</td>
        <td>{{ tasks[t]['job_index'] }}</td>
        {% if (current_user) %}
        <td><a href='javascript:call("reset_task", "{{ tasks[t]['task_id'] }}");'>Reset</a></td>
        <td><a href='javascript:call("resume_task", "{{ tasks[t]['task_id'] }}");'>Resume</a></td>
        <td><a href='javascript:call("suspend_task", "{{ tasks[t]['task_id'] }}");'>Suspend</a></td>
        {% end %}
    </tr>
    {% end %}
</table>


<!--
<table>
<tr>
{% if tasks %}
  {%for k in list(tasks.values())[0] %}
    <th>{{ k }}</th>
  {% end %}
{% end %}
</tr>
{% for t in tasks %}
<tr>
  {% for k in tasks[t] %}
    <td>
    {% if k == 'task_id' %}
        <a href="/task/{{ t }}">{{ tasks[t][k] }}</a>
    {% elif k == 'dataset_id' %}
        <a href="/dataset/{{ t }}">{{ tasks[t][k] }}</a>
    {% else %}
        {{ tasks[t][k] }}
    {% end %}
    </td>
  {% end %}
</tr>
{% end %}
</table>
-->
{% end %}

{% block body_scripts %}

{% if (current_user) %}
<script type="text/javascript" src="/static/json-rpc.js"></script>
<script type="text/javascript">
var all_tasks = [
{% for t in tasks %}
        "{{tasks[t]['task_id']}}",
{% end %}
];

function call(func_name, tasks){
    tasks = (typeof tasks === 'undefined') ? all_tasks: tasks;
    RPCclient(func_name, {passkey: "{{ passkey }}", tasks:tasks }, callback=function(return_data){

    });
};
{% end %}
</script>
{% end %}
