{% extends "base.html" %}

{% autoescape None %}

{% block title %}IceProd{% end %}

{% block page_title %}Task Details{% end %}

{% block body %}

<div class="task_details">
{% for k in task %}
<div class="key_value">
  <div>{{ escape(k) }}</div>
  <div>
  {% if k == 'dataset_id' %}
    <a href="/dataset/{{ task[k] }}">{{ escape(task[k]) }}</a>
  {% else %}
    {{ task[k] }}
  {% end %}
  </div>
</div>
{% end %}

{% if (current_user) %}
<div style="padding:10px;">
    <a href='javascript:call("reset_task");'>Reset</a>
    <a href='javascript:call("resume_task");'>Resume</a>
    <a href='javascript:call("suspend_task");'>Suspend</a>
</div>
{% end %}

</div>

{% for k in logs %}
<div class="logs">
  <p class="log_name"><a href='/log/{{ task['task_id'] }}/{{k}}'>{{ escape(k) }}</a></p>
  <div class="log_body">{{ '<br />'.join(map(escape,logs[k].replace('\r','').split('\n'))) }}</div>
</div>
{% end %}

{% end %}

{% block body_scripts %}

{% if (current_user) %}
<script type="text/javascript" src="/static/json-rpc.js"></script>
<script type="text/javascript">
    var task = "{{ task['task_id'] }}";
    function call(func_name){
        RPCclient(func_name, {passkey: "{{ passkey }}", task:task }, callback=function(return_data){
            location.reload(true);
        });
    };
</script>
{% end %}

{% end %}
