{% extends "base.html" %}

{% block title %}IceProd{% end %}

{% block page_title %}Tasks by Status{% end %}

{% block body %}
<ul>
{% for t in tasks %}
    <li>
        <a href="/task/{{ t }}">{{ tasks[t]['task_id'] }}</a>
        <a href='javascript:call("reset_task", "{{ tasks[t]['task_id'] }}");'>Reset</a>
        <a href='javascript:call("resume_task", "{{ tasks[t]['task_id'] }}");'>Resume</a>
        <a href='javascript:call("suspend_task", "{{ tasks[t]['task_id'] }}");'>Suspend</a>
    </li>
{% end %}
</ul>

<!--
<table>
<tr>
{% if tasks %}
  {%for k in tasks.values()[0] %}
    <th>{{ k }}</th>
  {% end %}
{% end %}
</tr>
{% for t in tasks %}
<tr>
  {% for k in tasks[t] %}
    <td>
    {% if k == 'task_id' %}
        <a href="/task/{{ t }}">{{ tasks[t][k] }}</a>
    {% elif k == 'dataset_id' %}
        <a href="/dataset/{{ t }}">{{ tasks[t][k] }}</a>
    {% else %}
        {{ tasks[t][k] }}
    {% end %}
    </td>
  {% end %}
</tr>
{% end %}
</table>
-->
{% end %}

{% block body_scripts %}
<script type="text/javascript" src="/static/json-rpc.js"></script>
<script type="text/javascript">

function call(func_name, task){
    RPCclient(func_name, {passkey: "{{ passkey }}", task:task }, callback=function(return_data){

    });
};
</script>
{% end %}
