@import 'theme.css';

.wy-menu-vertical li.toctree-l5 {
    font-size: 0.86em;
}
.wy-menu-vertical li.toctree-l5 > a {
    display: block;
    padding: 0.4045em 7em;
    background: #bdbdbd;
}
.wy-menu-vertical li.toctree-l5.current > a {
    color: #404040;
    border: none;
}
.wy-menu-vertical li.toctree-l6 {
    font-size: 0.82em;
}
.wy-menu-vertical li.toctree-l6 > a {
    display: block;
    padding: 0.4045em 8.25em;
    background: #bdbdbd;
}
.wy-menu-vertical li.toctree-l6.current > a {
    color: #404040;
    border: none;
}
.wy-menu-vertical li.toctree-l7 {
    font-size: 0.78em;
}
.wy-menu-vertical li.toctree-l7 > a {
    display: block;
    padding: 0.4045em 9.5em;
    background: #bdbdbd;
}
.wy-menu-vertical li.toctree-l7.current > a {
    color: #404040;
    border: none;
}
