{% extends "base.html" %}

{% block title %}IceProd{% end %}

{% block page_title %}Tasks by Status{% end %}

{% block body %}
<table>
<tr>
{% if len(tasks) > 0 %}
  {%for k in tasks.values()[0] %}
    <th>{{ k }}</th>
  {% end %}
{% end %}
</tr>
{% for t in tasks %}
<tr>
  {% for k in tasks[t] %}
    <td>
    {% if k == 'task_id' %}
        <a href="/task/{{ t }}">{{ tasks[t][k] }}</a>
    {% elif k == 'dataset_id' %}
        <a href="/dataset/{{ t }}">{{ tasks[t][k] }}</a>
    {% else %}
        {{ tasks[t][k] }}
    {% end %}
    </td>
  {% end %}
</tr>
{% end %}
</table>

{% end %}