<html>
  <head>
    <title>{% block title %}Default title{% end %}</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="icon" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/base.css" media="all" type="text/css" />
    {% block head_scripts %}{% end %}
  </head>
  <body>
    <h1 id="site_title"><a href="/">IceProd 2.0a</a></h1>
    <h2 id="page_title">{% block page_title %}{% end %}</h2>
    {% block body %}The Body{% end %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="/static/util.js"></script>
    {% block body_scripts %}{% end %}
  </body>
</html>