{% extends "base.html" %}

{% block title %}IceProd{% end %}

{% block page_title %}Tasks by Status{% end %}

{% block body %}

<table class='task_table'>
    <tr>
        <th>Job / Task Index</th>
        <th>Name</th>
        <th>Failures</th>
        {% if (current_user) %}
        <th><button class="set_status" onclick='task_reset(task_ids_on_page);'>Reset All</button></th>
        <th><button class="set_status" onclick='task_hard_reset(task_ids_on_page);'>Hard Reset All</button></th>
        <th><button class="set_status" onclick='task_suspend(task_ids_on_page);'>Suspend All</button></th>
        {% end %}
    </tr>
    {% for t in tasks %}
    <tr>
        <td><a href="/dataset/{{ url_escape(tasks[t]['dataset_id']) }}/task/{{ url_escape(t) }}">{{ tasks[t]['job_index'] }} / {{ tasks[t]['task_index'] }}</a></td>
        <td>{{ tasks[t]['name'] }}</td>
        <td>{{ tasks[t]['failures'] }}</td>
        {% if (current_user) %}
        <td>{% if tasks[t]['status'] in states.task_prev_statuses(states.TASK_STATUS_START) %}
        <button class="set_status" onclick='task_reset(["{{ tasks[t]["task_id"] }}"]);'>Reset</button>
        {% end %}</td>
        <td><button class="set_status" onclick='task_hard_reset(["{{ tasks[t]["task_id"] }}"]);'>Hard Reset</button></td>
        <td>{% if tasks[t]['status'] in states.task_prev_statuses('suspended') %}
        <button class="set_status" onclick='task_suspend(["{{ tasks[t]["task_id"] }}"]);'>Suspend</button>
        {% end %}</td>
        {% end %}
    </tr>
    {% end %}
</table>

{% end %}

{% block body_scripts %}

{% if (current_user) %}
<script type="text/javascript" src="/static/fetch.js"></script>
<script type="text/javascript" src="/static/rest.js"></script>
<script type="text/javascript">
var rest_api = '{{ rest_api }}';
const passkey = "{{ passkey }}";
const dataset_id = "{{ list(tasks.values())[0]['dataset_id'] if tasks else '' }}";
const task_ids_on_page = [
    {% for t in tasks %}
        "{{tasks[t]['task_id']}}",
    {% end %}
];

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

async function service_worker(action, task_ids) {
    try {
        const url = '/actions/task_status';
        const args = {
            dataset_id: dataset_id,
            action: action,
            task_ids: task_ids,
        };
        const ret = await fetch_json('POST', url, args, passkey);
        if ('error' in ret) {
            message_alert('error - '+ret['error']);
            return false;
        }
        const id = ret['result'];

        while (true) {
            await sleep(1000);
            const url = '/actions/task_status/'+id;
            const ret = await fetch_json('GET', url, null, passkey);
            if (ret['status'] == 'error') {
                if ('error_message' in ret) {
                    message_alert('error - '+ret['error_message']);
                } else {
                    message_alert('error - '+action+' failed');
                }
                return false;
            } else if (ret['status'] == 'complete') {
                message('complete');
                break;
            } else if ('payload' in ret && 'progress' in ret['payload']) {
                message('progress - '+ret['payload']['progress']+'%')
            }
        }
    } catch(err) {
        message_alert('error - '+err);
        return false;
    }
    reload();
    return true;
}

async function task_reset(task_ids) {
    return await service_worker('reset', task_ids)
}

async function task_hard_reset(task_ids) {
    return await service_worker('hard_reset', task_ids)
}

async function task_suspend(task_ids) {
    return await service_worker('suspend', task_ids)
}
{% end %}
</script>
{% end %}
