span.hide {
    display:none;
}

#basic_submit {
    padding: 4px;
}
#basic_submit div.indent {
    margin-left: 1em;
    margin-top: 2px;
    border-top: 1px solid blue;
}
#basic_submit div.indent.trays {
    border-top: 1px solid cyan;
}
#basic_submit div.indent.modules {
    border-top: 1px solid green;
}
#basic_submit .key {
    text-transform: capitalize;
}
#basic_submit input.key {
    text-transform: none;
}
#basic_submit .header {
    font-weight: bold;
}
#basic_submit .path {
    display:none;
}
#basic_submit .add {
    color: blue;
    cursor: pointer;
}
#basic_submit .null {
    display: inline-block;
}
#basic_submit .editable {
    cursor: pointer;
}
#basic_submit span.val {
    display: inline-block;
    min-height: 1em;
    min-width: 30px;
}
#basic_submit span.empty {
    height: .2em;
    width: 100%;
    border: 1px solid black;
}

#advanced_submit div {
    vertical-align: top;
}
#advanced_submit div.xml {
    border: 1px black solid;
    margin: 8px 0;
    padding: 8px;
}
#advanced_submit div.xml+div.xml {
    margin-top: 12px;
}
#advanced_submit h4.tag_title {
    text-transform: capitalize;
    margin: 0 0 .2em;
}
#advanced_submit div.xml_attr {
    display: inline-block;
}
#advanced_submit div.xml_attr_text {
    display: block;
}
#advanced_submit div.xml_subtags, #advanced_submit div.xml_attribs {
    margin: 3px 0;
}

#advanced_submit div.xml {
    background:#EFF8FF;
    border-color:#FFF8EF;
}
#advanced_submit div.xml div.xml {
    background:#C5E7FF;
    border-color:#FFE6C7;
}
#advanced_submit div.xml div.xml div.xml {
    background:#97D4FF;
    border-color:#FFD297;
}
#advanced_submit div.xml div.xml div.xml div.xml {
    background:#62BEFF;
    border-color:#FFBC66;
}
#advanced_submit div.xml div.xml div.xml div.xml div.xml {
    background:#2CA7FF;
    border-color:#FFA735;
}
#advanced_submit div.xml div.xml div.xml div.xml div.xml div.xml {
    background:#fff;
    border-color:#000;
}