#basic_submit {
    padding: 4px;
}
#basic_submit div.xml_basic_section {
    border: 1px solid black;
    margin: 4px;
    padding: 4px;
}
#basic_submit div.xml_basic_section+div.xml_basic_section {
    margin-top: 8px;
}
#basic_submit div.xml_basic_config {
    margin: 0;
    padding: 0;
}
#basic_submit div.xml_basic_task , #basic_submit div.xml_basic_tray{
    border: 1px solid black;
    margin: 0;
    padding: 0;
}
#basic_submit div.xml_basic_header div {
    display: inline-block;
    width: 100px;
}
#basic_submit div.xml_basic h4 {
    margin: 0 0 .2em;
    padding: 0;
}
#basic_submit div.xml_basic_header div, #basic_submit div.xml_basic_line input {
    width: 150px;
    min-width: 150px;
    margin: auto 4px;
}
#basic_submit div.xml_basic_header div.xml_basic_src, #basic_submit div.xml_basic_line input.xml_basic_line_src,
#basic_submit div.xml_basic_header div.xml_basic_local, #basic_submit div.xml_basic_line input.xml_basic_line_local,
#basic_submit div.xml_basic_header div.xml_basic_remote, #basic_submit div.xml_basic_line input.xml_basic_line_remote {
    width: 250px;
}
#basic_submit div.xml_basic_params div.xml_basic_value, #basic_submit div.xml_basic_params input.xml_basic_line_value {
    min-width: 350px;
}
#basic_submit div.xml_basic_params div.xml_basic_type, #basic_submit div.xml_basic_params input.xml_basic_line_type {
    min-width: 100px;
}
#basic_submit div.xml_basic_class div.xml_basic_recursive, #basic_submit div.xml_basic_class input.xml_basic_line_recursive{
    width: 50px;
    min-width: 50px;
}


#advanced_submit div {
    vertical-align: top;
}
#advanced_submit div.xml {
    border: 1px black solid;
    margin: 8px 0;
    padding: 8px;
}
#advanced_submit div.xml+div.xml {
    margin-top: 12px;
}
#advanced_submit h4.tag_title {
    text-transform: capitalize;
    margin: 0 0 .2em;
}
#advanced_submit div.xml_attr {
    display: inline-block;
}
#advanced_submit div.xml_attr_text {
    display: block;
}
#advanced_submit div.xml_subtags, #advanced_submit div.xml_attribs {
    margin: 3px 0;
}

#advanced_submit div.xml {
    background:#EFF8FF;
    border-color:#FFF8EF;
}
#advanced_submit div.xml div.xml {
    background:#C5E7FF;
    border-color:#FFE6C7;
}
#advanced_submit div.xml div.xml div.xml {
    background:#97D4FF;
    border-color:#FFD297;
}
#advanced_submit div.xml div.xml div.xml div.xml {
    background:#62BEFF;
    border-color:#FFBC66;
}
#advanced_submit div.xml div.xml div.xml div.xml div.xml {
    background:#2CA7FF;
    border-color:#FFA735;
}
#advanced_submit div.xml div.xml div.xml div.xml div.xml div.xml {
    background:#fff;
    border-color:#000;
}