name: container builds

on:
  workflow_dispatch:

jobs:
  image-publish:
    uses: WIPACrepo/wipac-dev-workflows/.github/workflows/image-publish.yml@v1.20
    permissions: # for GITHUB_TOKEN
      packages: write
    with:
      image_namespace: wipacrepo
      image_name: iceprod
      mode: BUILD
